<nav>
  <a [routerLink]="['/']" routerLinkActive="active">Home</a>
  <a [routerLink]="['/players']" routerLinkActive="active">Players</a>
  <a [routerLink]="['/git-users']" routerLinkActive="active">Users</a>
  <a [routerLink]="['/toh/']" routerLinkActive="active">Tour of Heroes</a>
  <a [routerLink]="['/toh/heroes']" routerLinkActive="active">Heroes</a>
  <a [routerLink]="['/toh/view']" routerLinkActive="active">Heroes with Message</a>
  <a [routerLink]="['/employee']" routerLinkActive="active">Employees</a>
</nav>
<router-outlet></router-outlet>

